/* This is the stylesheet for the about me section of my website */


#flexItem1{
    font-size: 120%;
    padding-top: 75px;
}

#flexItem2{
    color: rgb(122, 122, 122);
    font-size: 135%;
    width: 50%;
}

#aboutHeading{
    color: rgb(206, 121, 9);
}

#aboutMeFlex{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(22, 21, 21);
}

#aboutDesc{
    padding: 1%;
    font-family: 'opensans-regular', sans-serif;
    font-size: 100%;
    text-indent: 30px;
}

#flexItem3{
    display: flex;
    flex-direction: row;
    padding-top: 50px;
}


