/*
  Fade in animation for Safari, Chrome, Opera, Firefox, and Internet Explore 
  Styling the home part of the page
*/

.fadeIn{
    text-align: center;
    font-family: Arial;
    font-size: 75px;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeIn 1s; /* Firefox < 16 */
    -ms-animation: fadeIn 1s; /* Internet Explorer */
    -o-animation: fadeIn 1s; /* Opera < 12.1 */
    animation: fadeIn 1s;

}

@keyframes fadeIn {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-moz-keyframes fadeIn { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadeIn { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadeIn { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

#beginningContainer{
    display: flex;
    margin: auto;
    justify-content: center;
    width: 50%;
    padding-top: 25vh;
    border-top: 10px;
    /*background-color: black;  /*This is so that we can see the size of the container that will hold the information on the introductory screen */
    animation: 1s ease-in-out 0s 1 slide;
}

@keyframes slide{
    0%{
        transform: translateY(-25vh)
    }
    100%{
        transform: translateY(0);
    }
}


#textContainer{
    display: block;
}

#firstText{
    color: white;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sansSerif;
    font-size: 9vh;
    margin-bottom: 10px;
}

#underFirst{
    color: white;
    font-size:3vh;
}

#personalPhoto{
    width: 25vh;
    height: 25vh;
    margin: auto;
}
#startPage{
    margin: auto;
    width: auto;
    height: 100vh; /* This is the height of the users viewport */
    overflow:hidden;
    background-image: url('./Images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
