/* This is the styling for the navigation bar */
ul{
    list-style-type: none;
    margin: 0;
    margin-right: auto;
    padding: 10px;
}

li{
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100px;
    display: inline-block;
    font-weight: bold;
}

li a{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

li a:hover{
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background-color: #111;
}

.iconImage:hover{
    width: 35px;
    height:35px;
}

header{
    display: block;
    background-color: rgb(44, 44, 44);
    position: fixed;
    width: 100%;
    top: 0;
    transition: top .3s;
    opacity: .7;
}

#navBar{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.top{
    font-family: Lato, Light;
    font-size: large;
    padding: 3px;
}

header:after{
    content: "";
    display: block;
    border: .25px solid #111;
}

#icons{
    padding-top: 15px;
    padding-bottom: 10px;
}

.iconItem{
    padding-left: 5px;
    padding-right: 5px;
}

body{
    margin: auto;
}

/*
  Fade in animation for Safari, Chrome, Opera, Firefox, and Internet Explore 
  Styling the home part of the page
*/

#fadeIn{
    text-align: center;
    font-family: Arial;
    font-size: 75px;
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeIn 3s; /* Firefox < 16 */
    -ms-animation: fadeIn 3s; /* Internet Explorer */
    -o-animation: fadeIn 3s; /* Opera < 12.1 */
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-moz-keyframes fadeIn { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadeIn { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadeIn { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

#beginningContainer{
    display: flex;
    margin: auto;
    justify-content: center;
    background-color: rgb(44, 44, 44);
    width: 50%;
    opacity: .7;
    border-top: 10px;
}

#textItem{
    display: block;
}

#firstText{
    color: white;
    font-family: 'Lato', sans-serif
}
