/* This is the styling for the navigation bar */
*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

#navList{
    list-style-type: none;
    margin: 0;
    margin-right: auto;
    padding: 10px;
}

.navItem{
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100px;
    display: inline-block;
    font-weight: bold;
}

.navItem a{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

.navItem a:hover{
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background-color: #111;
}

.iconImage{
    transition: all .1s ease-in-out;
}

.iconImage:hover{
    transform: scale(1.25);
}


header{
    display: block;
    background-color: rgb(44, 44, 44);
    position: fixed;
    width: 100%;
    top: 0;
    transition: top .3s;
    opacity: .7;
    z-index: 300; /* making sure everything is wrapped under */
}

#navBar{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    height: 70px
}

#navigation{
    top: -70px;
    transition: top 0.3s;
}

.top{
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sansSerif;
    font-size: large;
    padding: 3px;
}

header:after{
    content: "";
    display: block;
    border: .25px solid #111;
}

#icons{
    padding-top: 15px;
    padding-bottom: 10px;
}

.iconItem{
    padding-left: 5px;
    padding-right: 5px;
}

body{
    margin: auto;
}

.emailTitle{
    font-weight: bold;
    font-family: 'opensans-regular', sans-serif;
    font-size: 25px;
}

.modalEmailBody{
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#userEmail{
    font-family: 'opensans-regular', sans-serif;
    background-color: rgb(67,67,67);
    width: 30vw;
    height: 5vh;
    padding: 0;
    margin-top: 10px;
}

#subject{
    margin-top: 20px;
    font-family: 'opensans-regular', sans-serif;
    background-color: rgb(67,67,67);
    width: 30vw;
    height: 5vh;
    padding: 0;
    margin-top: 10px;
}

#content{
    margin-top: 20px;
    font-family: 'opensans-regular', sans-serif;
    background-color: rgb(67,67,67);
    width: 30vw;
    height: 40vh;
    padding: 0;
    margin-top: 10px;
}

::placeholder{
    text-align: center;
    word-wrap: break-word;
}

input{
    text-align: left;
}

#sendButton{
    font-family: 'opensans-regular', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(67,67,67);
    border: 2px solid rgb(44,44,44);
    width: 10vw;
    height: 5vh;
    cursor: pointer;
}



