/* This is the styling for the projects page */

#projectsContainer{
    height: auto;
    background-color: rgb(22, 21, 21);
    padding-bottom: 50px;
}

#projectHeading{
    color: rgb(206, 121, 9);
}

#projectRows{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.projectItem{
    text-align: center;
    border: 5px solid black;
    display: block;
    width: 20%;
    border-radius: 10px;
    padding: 2vw;
    margin: 1vw;
    background-color: rgb(67, 67, 67);
    height: 17vmax;
    word-break: break-all;
    transition: all .2s ease-in-out;
}

.projectItem:hover{
    transform: scale(1.15);
}

.projectHeader{
    color: rgb(22, 21, 21);
    text-align: center;
    font-size: 2vmax;
    display: block;
}

.projectP{
    font-size: 1.5vmax;
    text-align: center;
    font-family: 'opensans-regular', sans-serif;
}

.projectItem > img{
    padding-top: 5vh;
    height: 10vmin;
    width: 10vmin;
}

a{
    text-decoration: none;
}

#pOverlay{
    position: fixed;
    opacity: 0;
    top: 0;
    transition: 200ms ease-in-out;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#pOverlay.active{ /* adding the class "active" to the element with id "overlay" will activate overlay */
    opacity: 1;
    pointer-events: all;
}

.exitProject{
    background-color: rgb(122, 122, 122);
    cursor: pointer;
    z-index: 1;
    margin-left: auto;
    font-size: 35px;
    border: 1px solid rgb(67, 67, 67);
    border-radius: 10px;
    padding: 2px 7px 2px 7px;
}

.projectTitle{
    flex: 0 1 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.modalProjectHeader{
    padding: 10px 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid black;
    height: 7vh;
}

.modalProjectBody{
    display: block;
    padding: 10px;
    line-height: 20px;
}

.pt{
    font-weight: bold;
    font-family: 'opensans-regular', sans-serif;
    font-size: 18px;
}

@media (max-width: 750px){
    .pt{
        font-weight: bold;
        font-family: 'opensans-regular', sans-serif;
        font-size: 15px;
    }
}

.projectPara{
    font-family: 'opensans-regular', sans-serif;
    text-align: center;
    font-size: 15px;
}

.exPic{
    width: 15vmax;
    height: 15vmax;
    padding: 20px;
}

#side{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.githubLink{
    text-decoration: underline;
    font-weight: bold;
    font-family: 'opensans-regular', sans-serif;
    color:rgb(73, 42, 2);
}

#center{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


