/* This is the styling for the projects page */

#projectsContainer{
    height: auto;
    background-color: rgb(22, 21, 21);
    padding-bottom: 50px;
}

#projectHeading{
    color: rgb(206, 121, 9);
}

#projectRows{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.projectItem{
    text-align: center;
    border: 5px solid black;
    display: block;
    width: 20%;
    border-radius: 10px;
    padding: 2vw;
    margin: 1vw;
    background-color: rgb(67, 67, 67);
    height: 17vmax;
    word-break: break-all;
}

.projectHeader{
    color: rgb(22, 21, 21);
    text-align: center;
    font-size: 2vmax;
    display: block;
}

.projectP{
    font-size: 1.5vmax;
    text-align: center;
    font-family: 'opensans-regular', sans-serif;
}

.projectItem > img{
    padding-top: 5vh;
    height: 10vmax;
    width: 10vmax;
}
