/* This is the styling for the projects page */

#projectsContainer{
    height: 100vh;
    background-color: rgb(22, 21, 21);
}

#projectHeading{
    color: rgb(206, 121, 9);
}

#projectRows{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.projectItem{
    text-align: center;
    border: 5px solid black;
    display: block;
    width: 20%;
    border-radius: 10px;
    padding: 2vw;
    margin: 3vw;
    background-color: rgb(67, 67, 67);
}

.projectHeader{
    color: rgb(22, 21, 21);
    text-align: center;
    font-size: 2vmax;
    display: block;
}
